server:
  port: DYNAMICPORT
  address: 0.0.0.0
spring:
  main:
    banner-mode: log
lavalink:
  server:
    password: "DYNAMICPASSWORD"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      mixer: true
      http: true
      local: false
    bufferDurationMs: 400
    youtubePlaylistLoadLimit: 6 # Number of pages at 100 each
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  dsn: ""

logging:
  file:
    max-history: 30
    max-size: 100MB
  path: ./logs/

  level:
    root: INFO
    lavalink: INFO
